/* src/styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply antialiased;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-900;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-800 rounded;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-700;
}

.floating-window {
  @apply bg-gray-900 border-2 border-gray-700 rounded-lg p-3 shadow-lg w-96 font-sans text-white;
}

.autocomplete-list {
  @apply absolute top-full left-0 right-0 bg-gray-800 border border-gray-700 rounded-md mt-1 max-h-48 overflow-y-auto z-50;
  font-size: 12px;
}

.autocomplete-item {
  @apply px-2 py-1 cursor-pointer text-sm hover:bg-gray-700 flex justify-between items-center;
}

.autocomplete-item-selected {
  @apply bg-gray-700;
}

.autocomplete-class-name {
  @apply text-gray-200;
}

.autocomplete-properties {
  @apply text-gray-400 text-xs truncate ml-2;
  max-width: 60%; /* 限制属性文本的最大宽度 */
}
