/* src/styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply antialiased;
}

.floating-window {
  @apply bg-white border-2 p-0 rounded-lg shadow-lg w-96 font-sans text-black;
}

.autocomplete-item {
  @apply px-2 py-1 cursor-pointer text-sm hover:bg-gray-700 flex justify-between items-center;
}

.autocomplete-item-selected {
  @apply bg-gray-700;
}

.autocomplete-class-name {
  @apply text-gray-200;
}

.autocomplete-properties {
  @apply text-gray-400 text-xs truncate ml-2;
  max-width: 60%;
}

.combobox-options {
  scrollbar-color: #1da1f2 #f1f1f1;
  scrollbar-width: thin;
}

.combobox-options::-webkit-scrollbar {
  width: 8px;
}

.combobox-options::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.combobox-options::-webkit-scrollbar-thumb {
  background-color: #1da1f2;
  border-radius: 20px;
  border: 3px solid #f1f1f1;
}
